{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{url_for('static',filename='styles/api.css')}}" /> {% endblock %}
{% block script %}
<script src="{{url_for('static',filename='scripts/api.js')}}"></script>
{% endblock %}
{% block title %}Api{% endblock %}

{% block body %}
    <div class="contain">
        <div id="accordion">
            {% for api in apis %}
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-secondary sm b" data-toggle="collapse" data-target="#{{api['name']}}"
                            aria-expanded="true" aria-controls="collapseOne">
                            {{api['name']}}
                        </button>
                        <span class="spans">{{api['url']}}</span>
                    </h5>
                </div>

                <div id="{{api['name']}}" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <span class="b">{{api['data']}}</span>
                        {% if api['name']=='Country': %}
                        <input class="form-control form-control-sm fm" type="text" placeholder="Enter Country name">
                        <button class="btn btn-primary sm btns c exec">Execute</button>
                        {% else %}
                        <button class="btn btn-primary sm btns exece" data-url="{{api['url']}}" data-nm="{{api['name']}}">Execute</button>
                        {% endif %}
                    </div>
                    <div class="jumbotron gd">
                        <p id='hd'>Response:</p>
                    <div id="{{api['name']}}d" class="hd">
                       
                    </div>
                </div>
                </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}