<html lang='eng'>
    <head>
  <meta charset='utf-18'>
        <meta name='viewport' content='width=device-width initial-scale=1.0'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>COVID-19.HOME</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-----navbar---->
        
    <nav class='navbar navbar-expand-md navbar-light bg-light sticky-top'>
            <div class='container-fluid'>
                <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarResponsive'>
                    <span class='navbar-toggler-icon'></span>
                </button>
                <div class='collapse navbar-collapse' id='navbarResponsive'>
                    <ul class='navbar-nav ml-auto'>
                        <li class='nav-item active'>
                            <a class='nav-link' href='aboutc.html'>About Covid-19</a>
                        </li>
                        <li class='nav-item'>
                            <a class='nav-link' href='#'>Countries</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        
        <!-----slideshow-->
  <div id='slides' class='carousel slide' data ride='carousel'>
            <ul class='carousel-indicators'>
                <li data-target='#slides' data-slide-to='0' class='active'></li>
  <li data-target='#slides' data-slide-to='1'></li>
            </ul>
            <div class='carousel-inner'>
                <div class='carousel-item active'>
                    <img src='img7.jpeg'>
                <div class='carousel-caption'>
                    <h3 class='display-4'style='color:#808080;'>Stay At Home.</h3>
                    
                    <a href='aboutc.html'><button type='button' class='btn btn-outline-light btn-lg'>More On Covid-19</button></a>
                    <br>
                </div>
                </div>
                <div class='carousel-item'>
                    <img src='img6.jpeg'>
                    <div class='carousel-caption'>
                        <h3 class='display-4'>Maintain Social Distancing.</h3>
                     
                        <a href='aboutc.html'><button type='button'class='btn btn-primary btn-lg'>More On Covid-19</button></a>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <!----------jumbotron--->
  <div class="container-fluid">
            <div class='row jumbotron'>
                <div class='col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10'>
                    <p class='lead'>
                        This website shows covid-19 statistics so as to enable you keep up with the current cases and recoveries around you.
                    </p>
                </div>
                <div class='col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2'>
                    <a href='aboutc.html'><button    type='button' class='btn btn-primary btn-lg'>More On Covid-19</button></a>
                </div>
            </div>
        </div>
        
        
        
        <!------What Site For----->
        
  <div class='container-fluid padding'>
            <div class='row text-center padding'>
            <div class='col-xs-12 col-sm-6 col-md-4'>
                <h3> <center>What The Site Is For</center></h3>
                <br>
                <p class='lead'> This a site which gives updated statistics of the covid-19 virus all around the world. Including number of deaths, infected and recovered Of every country in the world in an easy to understand layout.</p>
                <p class='lead'>
                    The Statistics to be given include the number of deaths, infected persons and number of recoveries in every country of the world.
                </p>
                <p class='lead'>
                    The purpose of this site is to keep you up to date with covid-19 cases around you, we present this information to you in an easy to understand layout.
                </p>
            </div>
            <hr class='my-4'>
        </div>
        <!--------emoji section---->
        
<button class='fun' data-toggle='collapse' data-target='#emoji' style='display:block; width:100%;'>Click For Fun</button>
         <div id='emoji' class='collapse'>
             <div class='container-fluid padding'>
                 <div class='row text-center'>
 <div class='col-sm-6 col-md-3'>
                         <img class='gif' src='emoji1.gif'>
                     </div>
                     <br>
 <div class='col-sm-6 col-md-3'>
                         <img class='gif' src='emoji2.gif'>
                     </div>
                     <hr class='my-4'>
                 </div>
             </div>
         </div>

        
        <!------------footer----->
        <div class='container-fluid padding' style='background-color:#696969'>
            <center>
            <div class='row-center'>
                <div class='col-md-4'>
                    <p><a href='aboutc.html'>More On Covid-19</a></p>
                </div>
                <div class='col-md-4'>
                    <hr class='light'>
                    <h3>EMAIL US</h3>
                    <hr class='light'>
                    <p>wsdmgate@gmail.com</p>
                    
                </div>
                <div class='col-12'>
                    <hr class='light'>
                    <h5>&copy;Emrys&Nile</h5>
                </div>
            </div>
            </center>
        </div>
        <!----------inline Styling---->
        <style>
            img{
                width:100%;
                max-width:999px;
            }
        </style>
        
    </body>
</html>